<li>
	<%= gravatar_for user, size: 52 %>
	<%= link_to user.name, user %>
	<% if current_user.admin? && !current_user?(user) %>
		| <%= link_to user.email, user %>
		| <%= link_to user.points, user %>
		<!--<%= form_for(user) do |f| %>
			<%= f.label :points, "New Point Total:" %>
      <%= f.text_field :points %>
      <%= f.submit "Update Points", class: "btn btn-large btn-primary" %>
    <% end %>-->
    | <%= link_to "delete user", user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>

</li>